# ***** BEGIN LICENSE BLOCK *****
# Copyright (C) 2007 Andris Pavenis <andris.pavenis@iki.fi>
# Copyright (C) 2008 Rail Aliev <rail@i-rs.ru>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
#
# ***** END LICENSE BLOCK *****

MOZZEMBEREK_VERSION = 0.1.5

# Supported Firefox versions
MOZZEMBEREK_FF_MIN  = 3.0a1
MOZZEMBEREK_FF_MAX  = 3.6a1pre

# Supported Thunderbird versions
MOZZEMBEREK_TB_MIN  = 3.0a1
MOZZEMBEREK_TB_MAX  = 3.1a1pre

# Supported SeaMonkey versions
MOZZEMBEREK_SM_MIN  = 2.0a1
MOZZEMBEREK_SM_MAX  = 2.0b1pre

# Supported Prism versions
MOZZEMBEREK_PRISM_MIN  = 0.8
MOZZEMBEREK_PRISM_MAX  = 1.0.*
